{
  "API": "Main",
  "CaseCode": "Off",
  "Dependencies": [
  ],
  "DevelopmentFolders": [
  ],
  "DevelopmentSpaces": [
    "Tests"
  ],
  "KeepHistory": "Off",
  "OnApplicationStartup": "",
  "OnBuild": "",
  "ProjectSpace": "#.HTML",
  "StartUp": "",
  "URL": "https://github.com/the-carlisle-group/HTML",
  "Version": "0.0.0"
}
