{
  "API": "Main",
  "CaseCode": "Off",
  "Dependencies": [
  ],
  "DevelopmentFolders": [
  ],
  "DevelopmentSpaces": [
    "Tests"
  ],
  "KeepHistory": "Off",
  "OnApplicationStartup": "",
  "OnBuild": "",
  "ProjectSpace": "#.Abacus",
  "StartUp": "",
  "URL": "https://github.com/the-carlisle-group/Abacus",
  "Version": "0.0.17"
}
